* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

body {
  background-color: #222;
  padding: 50px 0;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
}

.card {
  width: 27%;
  display: block;
  margin: auto;
  /* height: 530px; */
  height: auto;
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 20px;
  padding: 30px 0;
  /* border: 2px solid #fff; */
}

.search {
  display: grid;
  gap: 5px;
  justify-items: center;
  width: 100%;
  padding-bottom: 30px;
}

input,
button {
  border: 2px solid;
  text-align: center;
  font-size: medium;
  font-weight: 700;
  padding: 5px;
  outline: 0;
  border-radius: 25px;
}

input {
  width: 85%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather > h1 {
  font-size: 40px;
  font-weight: 700;
}

.weather_icon {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 15px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 15px;
  padding: 0 10px;
}

.col,
.col_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.col > img,
.col_1 > img {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

p {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  color: whitesmoke;
}
