body {
    background: linear-gradient(to top left, orange, white, green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hello {
    position: relative;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: sticky;
    top: 20%;
    left: 70%;
}

.left {
    position: absolute;
    top: 20%;
    right: 27%;
    font-size: 30px;
}