@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap');
body {
    background: linear-gradient(to bottom right, orange, white, green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hello {
    position: relative;
    height: 100vh;
}

.img {
    width: 500px;
    height: 500px;
    position: sticky;
    top: 20%;
    left: 76%;
    animation-name: image;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h1,
h3,
h5,
p {
    text-align: center;
    font-family: 'Playfair Display';
}

@keyframes image {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h3,
h5 {
    text-decoration: underline;
}

.marq {
    background-color: white;
    color: red;
    font-family: Playfair Display;
    padding: 5px;
    font-size: xx-large;
    border: 1px solid red;
}

nav {
    background-color: aquamarine;
    color: black;
    font-size: 30px;
    word-spacing: 5cm;
    padding: 5px;
    font-family: Playfair Display;
    text-align: center;
}

.space,
.space1,
.space2,
.space3 {
    opacity: 1;
}

.space:hover {
    opacity: 0.5;
}

.space1:hover {
    opacity: 0.5;
}

.space2:hover {
    opacity: 0.5;
}

.space3:hover {
    opacity: 0.5;
}

h1 {
    font-size: 65px;
}

ol {
    list-style-position: inside;
    text-align: center;
    font-family: Playfair Display;
}

ul {
    list-style: inside;
    text-align: left;
    font-family: Playfair Display;
}

.left {
    position: absolute;
    top: -57%;
    right: 27%;
    font-size: 30px;
}

.child1 {
    position: absolute;
    right: 85%;
    display: flex;
    align-items: center;
    word-spacing: 3px;
}

.parent {
    position: relative;
    height: 10vh;
    background-color: aquamarine;
    border: 1px solid red;
}

.child2 {
    position: absolute;
    top: 10%;
    left: 50%;
}

img {
    height: 100px;
    align-items: left;
    justify-content: left;
}