
body {
  font-family: sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.main {
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding: 8px 16px;
  background: #32295a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}
