.logo>h1 {
    background: radial-gradient(blue, orange);
    animation-name: text;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 3px solid black;
    color: radial-gradient(orange, blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 100vh;
    background: radial-gradient(red, #0909fb);
}

@keyframes text {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* .logo {
    height: 100vh;
    background: radial-gradient( red, orange);
    -webkit-mask-image: url(../Avengers_Logo.svg);
    mask-image: url(../Avengers_Logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
} */