img {
  height: 500px;
  width: 500px;
  /* box-shadow: 5px 5px 10px 5px red; */
  filter: drop-shadow(15px 25px 25px red);
  object-fit: cover;
  /* background-color: aqua; */
}
body {
  position: absolute;
  top: 10%;
  left: 35%;
}
.border {
  border: 2px solid black;
}
