* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body {
    background-image: url(./utils/Background\ Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    height: 110px;
    width: 100%;
    font-size: 33px;
    font-weight: bolder;
    color: white;
    font-family: cursive;
    font-style: italic;
    padding: 10px 70px;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: relative;
    border-top: 1px solid rgb(56, 56, 56);
}

.child1>ul {
    font-size: 15px;
    color: white;
    display: flex;
    gap: 21px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.after {
    position: absolute;
    font-size: 8px;
    padding: 5px 3px;
}

.child1>ul>li:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.child2 {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 50px;
}

.child2>img {
    background-color: white;
    height: 25px;
}

.parent {
    background-color: whitesmoke;
    margin: 0 45px;
}

.recent {
    display: flex;
    padding: 35px 40px;
    color: whitesmoke;
}

.item {
    position: relative;
    width: 1500px;
    height: 500px;
    z-index: 1;
}

.item:hover {
    transition: ease-in-out 0.1s;
    transform: scale3d(1.1, 1.1, 1.1);
}

.text {
    position: absolute;
    bottom: 0;
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
    z-index: 1;
}

.text:hover {
    transform: scale3d(0.9, 0.9, 0.9);
    transition: ease-in-out 1s;
}

.image1 {
    filter: brightness(60%) contrast(90%) saturate(110%);
    height: 100%;
    width: 100%;
    background-image: url(./utils/Solo\ Leveling.png);
    background-size: cover;
    background-position: center;
}

.image2 {
    filter: brightness(60%) contrast(90%) saturate(110%);
    height: 100%;
    width: 100%;
    background-image: url(./utils/Jujutsu\ Kaisen.jpg);
    background-size: cover;
    background-position: center;
}

.image3 {
    filter: brightness(60%) contrast(90%) saturate(110%);
    height: 100%;
    width: 100%;
    background-image: url(./utils/Demon\ Slayer.jpg);
    background-size: cover;
    background-position: center;
}

.image4 {
    filter: brightness(60%) contrast(90%) saturate(110%);
    height: 100%;
    width: 100%;
    background-image: url(./utils/Naruto.jpg);
    background-size: cover;
    background-position: center;
}

.image5 {
    filter: brightness(60%) contrast(90%) saturate(110%);
    height: 100%;
    width: 100%;
    background-image: url(./utils/Death\ Note.jpg);
    background-size: cover;
    background-position: center;
}

.anime1 {
    display: flex;
    gap: 30px;
    padding: 15px 39px;
    position: relative;
}

.latest_img {
    height: 300px;
    float: left;
    object-fit: contain;
}

.description {
    display: grid;
}

.description>p {
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    display: flex;
    gap: 15px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: center;
    font-size: 15px;
}

.clock {
    height: 17px;
    width: 17px;
}

.source {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: center;
    font-size: 15px;
}

.profile {
    height: 17px;
    width: 17px;
}