.nav {
    background-color: lightseagreen;
    word-spacing: 9.5cm;
    margin: 1cm 1cm 1cm;
    padding: 0.3cm 0.3cm 0.3cm 1cm;
    text-align: center;
}

.home {
    gap: 10cm;
    text-align: left;
}

h1 {
    text-align: left;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    height: 350px;
    top: 35%;
    left: 50%;
}

.h1,
p {
    background-color: aqua;
    font-weight: bolder;
    text-align: center;
    word-spacing: 0.3cm;
}