* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

.child1 {
    display: flex;
    padding-top: 15px;
    gap: 20px;
    /* height: 50vh; */
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.img3,
.img4,
.img5 {
    height: 55px;
    width: 55px;
    padding-top: 10px;
    object-fit: contain;
}

.book_text,
.call_text,
.mail_text {
    display: flex;
    width: 250px;
    border: 1px solid red;
    justify-content: center;
    padding-bottom: 15px;
}

.grid {
    display: grid;
    text-align: left;
    padding-left: 10px;
}

.img1 {
    height: 70px;
    width: 250px;
}

.img2 {
    height: 70px;
    width: 70px;
}

.image_text {
    display: flex;
    gap: 20px;
    padding-right: 50px;
}

.images {
    display: flex;
    gap: 25px;
    padding-right: 150px;
}

.text1 {
    font-weight: bolder;
}

.text {
    font-weight: bold;
    color: gray;
}

.India {
    display: flex;
    /* gap: 3px; */
    padding-left: 10px;
}

.India>.img6 {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    object-fit: contain;
}

.India>.img7 {
    height: 45px;
    width: 45px;
    padding-top: 23px;
    object-fit: contain;
}