* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: inline-block; */
}

.parent {
    height: 180vh;
    border-radius: 10px;
    border: 1px solid black;
    /* padding: 10px; */
    margin: 30px;
    /* width: 100%; */
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
}

.child1 {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    gap: 20px;
    position: relative;
    align-items: center;
}

.P {
    font-size: larger;
    font-weight: bold;
}

.B {
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
}

.profile {
    border-radius: 20px;
    border-bottom: 1px solid black;
}

.profile>.A {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 150px; */
    /* margin-top: 150px; */
}

.profile>.A>.profile_img>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid red;
}

.profile>.A>.side_text {
    visibility: visible;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
    left: 53%;
    bottom: 72%;
    background-color: whitesmoke;
    transform: rotate(-10deg);
}

.profile>.text {
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

.profile>.text>.P1>.B1 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
}

.parent1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 20px;
    padding-top: 80px;
}

.parent1>.img1,
.parent1>.img2,
.parent1>.img3,
.parent1>.img4,
.parent1>.img5,
.parent1>.img6 {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.parent2>p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    border-bottom: 1px solid black;
}

.parent3 {
    position: relative;
    /* border: 1px solid red; */
    height: 50px;
    /* background-color: gray; */
}

.parent3>hr {
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
}

.parent3>button {
    position: absolute;
    border-radius: 30px;
    border: 1px solid black;
    width: 130px;
    height: 40px;
    text-align: center;
    top: 10%;
    left: 50%;
    rotate: -10deg;
    background-color: whitesmoke;
    color: black;
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px; */
}

.card>.container {
    /* text-align: center; */
    padding: 10px 20px;
}

.card>.container>.ui_logo,
.card>.container>.web_logo,
.card>.container>.design_logo,
.card>.container>.development_logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}