@import url("https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Libertinus Math";
}

body {
  padding: 20px;
}

.grid_div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
  font-size: 20px;
}

#info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin: 20px 0;
  height: auto;
}

.card_div {
  width: 470px;
  box-shadow: 0 5px 15px red;
  border-radius: 30px;
  border: 1px solid red;
}

img {
  width: inherit;
  height: 600px;
  object-fit: fill;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.grid_div > p {
  text-align: center;
  padding: 3px 0;
}

.name_div > h3 {
  font-size: 41px;
  text-align: center;
}

.name_div {
  font-weight: 600;
  padding: 20px;
  background-color: antiquewhite;
  height: 300px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

h1 {
  color: red;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.poster {
  display: block;
  margin: 30px auto;
  width: 50%;
  object-fit: contain;
}

h4 {
  font-size: x-large;
  text-align: center;
  padding: 10px 0;
}

.plot {
  width: 50%;
  margin: auto;
  display: block;
}

@media (max-width: 320px) {
  #info {
    grid-template-columns: repeat(1, 1fr);
  }
  .card_div,
  img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .card_div {
    height: 780px;
  }
  .name_div {
    height: 360px;
  }
}
