* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-image: url(../utils/Background\ Image.jpg);
  background-size: cover;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  height: 110px;
  width: 100%;
  font-size: 33px;
  font-weight: bolder;
  color: white;
  font-family: cursive;
  font-style: italic;
  padding: 10px 70px;
}

.title > a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  position: relative;
  height: 40px;
  padding: 0 7px;
  border-top: 1px solid rgb(56, 56, 56);
}

.child1 > ul {
  font-size: 15px;
  color: white;
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.child1 > ul > li,
.child1 > ul > a > li {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  padding: 5px;
  height: 100%;
  transition: all 0.3s ease;
  font-size: small;
}

.dropdown {
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  top: 100%;
  left: 0;
  min-width: 300px;
  z-index: 1;
  border: 1px transparent;
  height: auto;
}

.child1 ul li:hover > .dropdown {
  display: block;
  cursor: pointer;
}

.child1 ul li {
  position: relative;
}

.dropdown li {
  font-weight: 600;
  opacity: 0.5;
  padding: 8px 10px;
  white-space: nowrap;
}

.dropdown li:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  color: white;
  background-color: black;
}

.child1 > ul > li:hover,
.child1 > ul > a > li:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}

.child1 > ul > a {
  text-decoration: none;
  color: inherit;
}

.child2 {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50px;
}

.child2 > img {
  background-color: white;
  height: 25px;
}

.parent {
  display: flex;
  background-color: whitesmoke;
  margin: 0 45px;
  padding: 30px;
}

.child3 {
  flex: 3;
}

.info {
  display: flex;
  gap: 3px;
  padding: 15px 0;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7 {
  color: rgb(255, 60, 60);
  font-size: 14px;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover,
.p7:hover {
  cursor: pointer;
  text-decoration: underline;
}

span {
  color: grey;
}

h5 {
  font-size: 26px;
  opacity: 0.8;
}

.time {
  font-weight: 700;
  display: flex;
  gap: 15px;
  padding: 15px 0;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.5;
}

.clock {
  height: 20px;
  width: 20px;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.5;
}

.source:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile {
  height: 20px;
  width: 20px;
}

h4 {
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
  font-size: 21px;
  color: rgb(138, 0, 0);
}

.black {
  font-size: 21px;
  padding-top: 13px;
  color: black;
  opacity: 0.8;
}

.image1 {
  margin: 0 300px;
  width: 400px;
  height: 550px;
  object-fit: fill;
}

.image1:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

.anime_info {
  width: 91%;
  padding: 27px 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgb(188, 186, 186);
}

.genre,
.org,
.run,
.lang,
.episodes,
.sub,
.quality,
.encoder,
.synopsis {
  display: flex;
  gap: 3px;
  padding: 7px 0;
  align-items: center;
}

.synopsis {
  align-items: normal;
  gap: 5px;
  padding: 25px 0;
}

.bold {
  text-transform: none;
  font-size: 17px;
  font-weight: 500;
}

.bold_1 {
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.red {
  color: rgb(250, 33, 33);
  font-weight: bold;
  font-size: 17px;
  text-transform: none;
}

.green {
  color: green;
  font-weight: 500;
  font-size: 17px;
  text-transform: none;
}

.blue {
  color: rgb(49, 49, 253);
  font-weight: bold;
  font-size: 15px;
  text-transform: none;
}

.screenshot {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 27px 0;
  padding: 15px;
  border: 1px solid;
}

.small {
  font-size: 17px;
  font-weight: 500;
}

.bold_2 {
  font-size: large;
  font-weight: 600;
}

.ss {
  width: 91%;
  border: 0.3px solid rgb(213, 212, 212);
}

.sl {
  text-transform: none;
  font-size: x-large;
  font-weight: 700;
  padding: 25px 0;
  text-align: center;
  opacity: 0.8;
  border-bottom: 1px solid rgb(188, 186, 186);
  width: 91.5%;
}

.episode1,
.zip1 {
  width: 93%;
  border-bottom: 1px solid rgb(188, 186, 186);
  padding-bottom: 17px;
}

.episode1 > p {
  text-align: center;
  padding: 25px 0;
  font-size: 18px;
  font-weight: 700;
  color: rgb(157, 2, 2);
  text-decoration: underline;
}

.episode1_1,
.episode1_2,
.episode1_3 {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border: 1px solid;
}

.episode1_1 > p,
.episode1_2 > p,
.episode1_3 > p {
  text-transform: none;
}

.zip {
  width: 93%;
  opacity: 0.8;
  padding: 25px 0;
  font-size: x-large;
  font-weight: bold;
  text-transform: none;
  text-align: center;
}

.add {
  width: 93%;
  font-size: xx-large;
  font-weight: bold;
  opacity: 0.8;
  padding: 35px 0;
  text-align: center;
}

.season1 {
  border-bottom: 1px solid rgb(188, 186, 186);
  width: 93%;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: red;
  padding-bottom: 25px;
}
.watch_on {
  width: 93%;
  font-size: large;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
  text-transform: none;
  color: rgb(216, 2, 216);
}

.season1:hover,
.season2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.click {
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(188, 186, 186);
  padding: 25px 0;
}

.click > .red,
.click > p {
  text-transform: uppercase;
  font-weight: bold;
}

.click > .red:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  padding: 25px 0;
  width: 93%;
}

.button > button {
  font-size: 17px;
  text-transform: none;
  height: 30px;
  margin: 1px 0;
  padding: 0 5px;
  border-radius: 3px;
}

.button > .black {
  color: #fff;
  border: 1px transparent;
  background-color: #0d0d0d;
}

.button > .hover {
  border: 1px transparent;
  background-color: #d2cece;
}

.button > .hover:hover {
  cursor: pointer;
  background-color: red;
  color: #fff;
}

.like,
.author {
  width: 97%;
}

.like > hr,
.author > hr,
.comment > hr {
  border: 1.5px solid;
  width: inherit;
}

.like > button,
.btn_author,
.btn_comment {
  width: 160px;
  height: 35px;
  text-transform: none;
  font-size: medium;
  font-weight: 600;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #181818;
  color: #fff;
}

.like_anime {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.anime1 > a,
.anime2 > a,
.anime3 > a {
  text-decoration: none;
}

.anime1 > a > p,
.anime2 > a > p,
.anime3 > a > p {
  width: 85%;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 0;
  color: #000;
}

.anime1 > a > p:hover,
.anime2 > a > p:hover,
.anime3 > a > p:hover {
  cursor: pointer;
  color: red;
}

.anime1 > a > img,
.anime2 > a > img,
.anime3 > a > img {
  height: 200px;
  width: 290px;
  object-fit: fill;
}

.anime1 > a > img:hover,
.anime2 > a > img:hover,
.anime3 > a > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.author1,
.comment1 {
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.posts {
  font-weight: 600;
  font-size: 9px;
  width: 100px;
  padding: 7px;
  border: 1px solid rgb(188, 186, 186);
  height: 30px;
  color: #555;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.author_info {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.author_info > img {
  border-radius: 50%;
  height: 115px;
  width: 115px;
  object-fit: cover;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  form {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
  }
  to {
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
  }
}

.author_info > img:hover {
  animation-play-state: paused;
}

.text > h5 {
  text-transform: capitalize;
}

.text > h5:hover {
  cursor: pointer;
  color: red;
}

.text > p {
  text-transform: none;
  font-size: medium;
}

.flex_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex_comment > button {
  padding: 5px;
}

.num {
  width: 35px;
}

.flex_comment > button:hover,
.posts:hover {
  cursor: pointer;
  border: 1px solid red;
  color: red;
}

.comment {
  width: 97%;
  margin-top: 70px;
}

.outline {
  width: 94%;
  border: 1px solid rgb(154, 153, 153);
  margin: 20px 0;
  padding: 30px;
  background-color: #ece9e9;
}

.outline > input {
  width: 100%;
  height: 45px;
}

.outline > input::placeholder {
  text-transform: none;
  font-size: large;
  font-weight: 600;
}

.child4 {
  padding: 15px 0;
  flex: 1;
}

input {
  height: 45px;
  width: 300px;
}

input::placeholder {
  padding: 0 9px;
}

.child4 > h6 {
  margin-top: 40px;
  height: 40px;
  width: 135px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

hr {
  width: 300px;
  border: 2px solid black;
}

.icons {
  width: 220px;
  display: flex;
  gap: 15px;
}

.icons > img {
  height: 40px;
  width: 40px;
  margin: 30px 0;
  border-radius: 10px;
  object-fit: cover;
}

.child4 > h5 {
  opacity: 1;
  margin-top: 10px;
  height: 40px;
  width: 185px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

.uploads {
  padding: 15px 0;
  padding-right: 15px;
  color: red;
}

.uploads > p {
  font-size: 13px;
  padding: 10px 0;
}

.uploads > p > a {
  text-decoration: none;
  color: inherit;
}

.child4 > h4 {
  height: 33px;
  width: 190px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 0;
}

.discord {
  height: auto;
  width: 310px;
  margin: 20px 0;
  object-fit: contain;
}

.child4 > h3 {
  height: 33px;
  width: 200px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 0;
  margin-top: 20px;
}

.telegram {
  height: auto;
  width: 310px;
  margin: 20px 0;
  object-fit: contain;
}

.child4 > h2 {
  margin-top: 40px;
  height: 40px;
  width: 150px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 13px 0;
}

.ads {
  rotate: 35deg;
  font-size: small;
  padding-top: 110px;
  padding-left: 20px;
}

.footer {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 50px;
  padding: 20px 45px;
  gap: 900px;
  align-items: center;
  border-top: 2px solid rgb(56, 56, 56);
}

.text1 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 15px;
}

.text1 > a {
  color: #1d21a1;
}

.text1 > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer_img {
  display: flex;
  gap: 10px;
}

.footer_img > img {
  height: 25px;
  width: 25px;
  object-fit: fill;
  background-color: #fff;
}

.image {
  filter: grayscale(10);
}

.search {
  display: none;
}

.open-popup-btn {
  position: relative;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  height: 40px;
}

.zip1 > .open-popup-btn {
  margin: 15px 20px;
}

.open-popup-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 20em;
  height: 5em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.open-popup-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup {
  position: fixed;
  left: 50%;
  top: -150%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  background: #f5f5f5;
  z-index: 7;
}

body.popup-active .popup {
  top: 50%;
}
body.popup-active .popup-overlay {
  display: block;
}
.popup .popup-close-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 20px;
  background-color: #555;
  padding: 4px 0;
  color: #eee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.watch {
  width: 160px;
  height: 50px;
  border-radius: 7px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  margin: 15px 500px;
  border: 1px transparent;
}

.watch:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.track {
  width: 400px;
  border: 1px solid rgb(188, 186, 186);
  padding: 10px 0;
}

.track1 {
  padding: 10px 17px;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  border-bottom: 1px solid rgb(188, 186, 186);
}

.track1_1 {
  font-size: 13px;
  font-weight: 500;
  color: #555;
  padding: 5px 15px;
  text-transform: none;
  padding-top: 15px;
}

.track2 {
  text-transform: none;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  padding: 5px 15px;
}

.none {
  text-transform: none;
  padding-bottom: 20px;
  font-size: medium;
  color: #000;
  font-weight: normal;
  padding: 20px 10px;
  text-decoration: none;
}

.none > b {
  font-weight: 600;
}

@media (max-width: 480px) {
  .navbar,
  br,
  .flex_comment {
    display: none;
  }
  .search {
    display: inline-block;
  }
  .item:hover,
  .item:hover img {
    transition: none;
  }
  .title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 15px;
  }
  .parent {
    margin: 0;
    flex-direction: column;
    padding: 15px;
  }
  .info {
    flex-wrap: wrap;
  }
  .image1 {
    width: 97%;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
  }
  .anime_info {
    width: inherit;
  }
  h4,
  .black {
    font-size: larger;
    padding: 10px 0;
  }
  .genre,
  .org,
  .run,
  .lang,
  .episodes,
  .sub,
  .quality,
  .encoder,
  .synopsis {
    align-items: start;
  }
  .screenshot,
  .sl,
  .ss,
  .episode1,
  .zip1,
  .zip,
  .add,
  .season1,
  .season2,
  .watch_on,
  .click,
  .button,
  .anime1 > a > p,
  .anime2 > a > p,
  .anime3 > a > p,
  .like,
  .author,
  .like_anime,
  .comment,
  .outline,
  .hr_1,
  .hr_2,
  .hr_3,
  .hr_4,
  .hr_5,
  .icons,
  .purple,
  .track,
  .none,
  .season1_1 {
    width: inherit;
  }
  .none {
    margin: auto;
  }
  .episode1 > p {
    font-size: large;
    padding: 20px 0;
    padding-top: 15px;
  }
  .zip {
    padding: 15px 0;
  }
  .watch {
    margin: 30px 65px;
  }
  .click {
    padding: 15px 0;
    text-align: center;
    flex-wrap: wrap;
  }
  .like_anime {
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .comment {
    margin-top: 30px;
  }
  input {
    width: 330px;
  }
  .child4 > h6 {
    margin-top: 20px;
  }
  .icons {
    justify-content: space-around;
  }
  .icons > img {
    width: 50px;
    height: auto;
    object-fit: initial;
  }
  .uploads {
    padding: 15px 5px;
  }
  .hr_3,
  .hr_4 {
    margin-bottom: 30px;
  }
  .discord,
  .telegram {
    width: 50%;
    display: block;
    margin: auto;
  }
  .child4 > h2 {
    margin-top: 20px;
  }
  .ads {
    padding: 30px 10px;
    rotate: 0deg;
    font-size: large;
    font-weight: 600;
  }
  .footer {
    gap: 15px;
    padding: 20px;
    height: auto;
  }
  .text1 {
    font-size: small;
    font-weight: 600;
  }
}

@media (min-width: 481px) and (max-width: 840px) {
  .navbar,
  .info,
  br {
    display: none;
  }
  .search {
    display: inline-block;
  }
  .item:hover,
  .item:hover img {
    transition: none;
  }
  .title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: large;
  }
  .date > p,
  .source > p {
    font-size: medium;
  }
  .child3 {
    margin: auto;
    padding: 0 15px;
    width: 805px;
  }
  .child3 > h5 {
    text-transform: none;
    padding: 0;
    font-size: 39px;
  }
  h4 {
    text-align: center;
    text-transform: none;
    font-size: x-large;
  }
  .black {
    padding-right: 15px;
    font-size: 29px;
    font-weight: 500;
  }
  .parent {
    width: 100%;
    padding: 10px 0;
    margin: auto;
    display: grid;
  }
  .image1 {
    width: auto;
    margin: 0 170px;
    padding: 0;
    object-fit: contain;
  }
  .synopsis > .bold_1 {
    margin: auto;
    font-size: 16px;
  }
  .screenshot,
  .click,
  .add,
  .watch_on,
  .season1,
  .button {
    width: 760px;
  }
  .sl {
    font-size: 30px;
  }
  .like_anime {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    margin: 0;
    padding: 30px 0;
    width: 750px;
    gap: 40px;
  }
  .anime1,
  .anime2,
  .anime3 {
    width: 310px;
    height: auto;
    object-fit: contain;
  }
  .author_info {
    padding: 0 15px;
  }
  .child4 {
    padding: 15px;
  }
  input {
    border: 1px solid;
    margin: 15px 7px;
    width: 735px;
  }
  .child4 > h6 {
    width: 200px;
    font-size: x-large;
    padding: 8px 0;
  }
  .icons {
    justify-content: space-around;
    width: 735px;
  }
  .icons > img {
    width: 70px;
    height: auto;
    object-fit: cover;
  }
  .hr_1,
  .hr_2,
  .hr_3,
  .hr_4,
  .hr_5 {
    width: 735px;
  }
  .hr_3,
  .hr_4 {
    margin-bottom: 30px;
  }
  .child4 > h5 {
    width: 200px;
    height: auto;
    font-size: 19px;
    padding: 10px 0;
  }
  .uploads > p {
    width: 700px;
    padding: 10px 0;
    font-size: large;
  }
  .child4 > h4 {
    width: 200px;
    height: auto;
    font-size: 19px;
  }
  .discord,
  .telegram {
    display: block;
    width: 50%;
    margin: auto;
  }
  .child4 > h3 {
    width: 230px;
    height: auto;
    font-size: 17px;
    margin-top: 30px;
  }
  .child4 > h2 {
    width: 200px;
    height: auto;
    font-size: large;
  }
  .ads {
    width: 735px;
    rotate: 0deg;
    padding: 20px 15px;
    font-size: larger;
  }
  .footer {
    gap: 0;
    justify-content: space-between;
    padding: 20px;
  }
  .text1 {
    font-size: larger;
  }
  .watch {
    margin: 15px 217px;
  }
}
