* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-image: url(../utils/Background\ Image.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.title {
  height: 110px;
  width: 100%;
  font-size: 33px;
  font-weight: bolder;
  color: white;
  font-family: cursive;
  font-style: italic;
  padding: 10px 70px;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  position: relative;
  height: 40px;
  padding: 0 7px;
  border-top: 1px solid rgb(56, 56, 56);
}

.child1 > ul {
  font-size: 15px;
  color: white;
  display: flex;
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.child1 > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  padding: 5px;
  height: 100%;
  transition: all 0.3s ease;
  font-size: small;
}

.dropdown {
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  top: 100%;
  left: 0;
  min-width: 300px;
  z-index: 1;
  border: 1px transparent;
  height: auto;
}

.child1 ul li:hover > .dropdown {
  display: block;
}

.child1 ul li {
  position: relative;
}

.dropdown li {
  font-weight: 600;
  opacity: 0.5;
  padding: 8px 10px;
  white-space: nowrap;
}

.dropdown li:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  color: white;
  background-color: black;
}

.child1 > ul > li:hover {
  background-color: whitesmoke;
  color: black;
}

.child2 {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50px;
}

.child2 > img {
  background-color: white;
  height: 25px;
}

.parent {
  background-color: whitesmoke;
  margin: 0 45px;
  padding: 0 20px;
  padding-top: 20px;
}

.recent {
  display: flex;
  padding: 20px;
  color: whitesmoke;
  overflow: hidden;
}

.item {
  transition: all 0.1s ease-in-out;
  width: 500px;
  height: 500px;
  position: relative;
  object-fit: contain;
}

.item:hover {
  width: 900px;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  transition: opacity 0.1s ease;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.item:hover img {
  height: 500px;
  filter: brightness(30%);
}

.latest {
  display: flex;
  width: 100%;
  gap: 20px;
}

.anime {
  display: flex;
  gap: 20px;
  /* border: 1px solid; */
}

.latest_img {
  width: 500px;
  height: 300px;
  float: left;
  object-fit: contain;
}

.description > p > a,
.uploads > p > a {
  text-decoration: none;
  color: inherit;
}

.item > a > .text {
  color: whitesmoke;
}

.description > p {
  padding-top: 11px;
  font-size: 21px;
  font-weight: 700;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.description > p:hover {
  color: rgb(250, 50, 50);
}

.time {
  font-weight: 700;
  display: flex;
  gap: 15px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-size: 13px;
  opacity: 0.5;
}

.clock {
  height: 15px;
  width: 15px;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-size: 13px;
  opacity: 0.5;
}

.source:hover {
  text-decoration: underline;
}

.profile {
  height: 15px;
  width: 15px;
}

.child3 {
  flex: 3;
  margin: 10px 25px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(188, 186, 186);
}

.child4 {
  padding: 15px 0;
  flex: 1;
}

input {
  height: 45px;
  width: 300px;
}

input::placeholder {
  padding: 0 9px;
}

h6 {
  margin-top: 40px;
  height: 40px;
  width: 135px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

hr {
  width: 300px;
  border: 2px solid black;
}

.icons {
  width: 220px;
  display: flex;
  gap: 15px;
}

.icons > img {
  height: 40px;
  width: 40px;
  margin: 30px 0;
  border-radius: 10px;
  object-fit: cover;
}

h5 {
  margin-top: 10px;
  height: 40px;
  width: 185px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
}

.uploads {
  padding: 15px 0;
  padding-right: 15px;
  color: red;
}

.uploads > p {
  font-size: 13px;
  padding: 10px 0;
}

h4 {
  height: 33px;
  width: 190px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 0;
}

.discord {
  height: auto;
  width: 310px;
  margin: 20px 0;
  object-fit: contain;
}

h3 {
  height: 33px;
  width: 200px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 0;
  margin-top: 20px;
}

.telegram {
  height: auto;
  width: 310px;
  margin: 20px 0;
  object-fit: contain;
}

h2 {
  margin-top: 40px;
  height: 40px;
  width: 150px;
  text-align: center;
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 13px 0;
}

.ads {
  rotate: 30deg;
  font-size: small;
  padding-top: 120px;
  padding-left: 30px;
}

.pagination {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin: 0 70px;
  gap: 10px;
}

.btn,
.btn3,
.btn4 {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  border: 1px transparent;
  color: grey;
}

.btn3:hover,
.btn4:hover {
  background-color: rgb(208, 206, 206);
}

.btn2 {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  font-weight: 500;
  border: 1px transparent;
  background-color: red;
  color: #fff;
}

.btn1 {
  border: 1px transparent;
  width: 200px;
  color: #fff;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  background-color: red;
  margin-left: 250px;
}

.btn1:hover {
  background-color: rgb(169, 3, 3);
}

.footer {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 50px;
  padding: 20px 45px;
  gap: 900px;
  align-items: center;
  border-top: 2px solid rgb(56, 56, 56);
}

.text1 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: medium;
}

.text1 > a {
  color: #1d21a1;
}

.text1 > a:hover {
  text-decoration: underline;
}

.footer_img {
  display: flex;
  gap: 10px;
}

.footer_img > img {
  height: 25px;
  width: 25px;
  object-fit: fill;
  background-color: #fff;
}

.image {
  filter: grayscale(10);
}

.search {
  display: none;
}

@media (max-width: 480px) {
  .navbar {
    display: none;
  }
  .title {
    width: 300px;
    display: flex;
    padding: 10px 0;
    height: auto;
    padding: 10px 30px;
    align-items: center;
    font-size: 15px;
    gap: 50px;
  }
  .search {
    display: inline-block;
  }
  .parent {
    margin: 0;
    padding: 3px 15px;
  }
  .recent {
    display: grid;
    padding: 0;
    width: 350px;
    margin: 5px 0;
    justify-self: center;
  }
  .image1 {
    width: 300px;
    margin: 0 5px;
    filter: brightness(40%);
    object-fit: cover;
  }
  .item:hover,
  .item,
  .item img,
  .item:hover img {
    width: 350px;
    height: 200px;
    transition: none;
    object-fit: fill;
  }
  .text {
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: large;
    font-weight: 600;
  }
  .latest {
    display: grid;
    padding-top: 10px;
  }
  .child3 {
    margin: auto;
    width: 330px;
  }
  .anime {
    display: grid;
    width: inherit;
  }
  .latest_img {
    width: 335px;
    height: 200px;
    object-fit: cover;
    float: none;
  }
  .description > p {
    font-size: 15px;
    padding: 3px 0;
    padding-bottom: 15px;
  }
  .parent1 {
    width: 300px;
  }
  br,
  .btn4 {
    display: none;
  }
  .description {
    padding-bottom: 50px;
  }
  .pagination {
    width: inherit;
    margin: 0 35px;
    padding: 15px 0;
  }
  .btn2 {
    border-radius: 0px;
    width: 70px;
    height: 40px;
  }
  .btn,
  .btn3,
  .btn4 {
    border-radius: 0px;
    width: 70px;
    height: 40px;
  }
  .btn1 {
    width: 150px;
    margin: 0 20px;
    height: 40px;
    border-radius: 0px;
  }
  .child4 {
    padding: 0;
  }
  input {
    width: 330px;
    height: 45px;
  }
  .ads {
    rotate: none;
    padding: 25px 0;
    font-size: small;
  }
  .footer {
    gap: 20px;
    display: flex;
    height: auto;
    margin-top: 30px;
  }
  .text1 {
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
}

@media (min-width: 481px) and (max-width: 840px) {
  .navbar,
  br {
    display: none;
  }
  .search {
    display: inline-block;
  }
  .item:hover,
  .item:hover img {
    transition: none;
  }
  .title {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: large;
  }
  .parent {
    margin: auto;
    padding: 0 15px;
    padding-top: 20px;
    height: 350vh;
  }
  .recent {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 5px;
  }
  .text {
    font-size: larger;
    padding: 0 15px;
    left: 0;
    bottom: 10px;
    font-weight: bold;
  }
  .item:hover,
  .item,
  .item img,
  .item:hover img {
    width: 350px;
    height: 300px;
    transition: none;
    object-fit: fill;
  }
  .item img {
    filter: brightness(60%);
  }
  .latest {
    display: grid;
  }
  .parent1 {
    width: 730px;
    border-bottom: 1px solid rgb(188, 186, 186);
  }
  .anime {
    width: 730px;
  }
  .child3 {
    margin: 10px 20px;
    padding-bottom: 30px;
  }
  .latest_img {
    width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .description > p {
    font-size: 21px;
    padding: 5px 0;
    width: 450px;
    padding-bottom: 25px;
  }
  .pagination {
    width: 730px;
    padding-left: 130px;
    margin: 0;
  }
  .btn1 {
    margin: 0 20px;
    width: 170px;
    font-size: smaller;
    font-weight: 700;
  }
  .child4 {
    position: relative;
  }
  input {
    position: absolute;
    top: 13px;
    height: 35px;
    margin: 0 50px;
  }
  h6 {
    position: absolute;
    top: 14px;
    left: 390px;
    margin: 0;
    height: 33px;
    width: 125px;
    font-size: medium;
  }
  .hr_1 {
    position: absolute;
    left: 390px;
    top: 45px;
  }
  .icons {
    position: absolute;
    left: 390px;
    top: 35px;
  }
  h5 {
    position: absolute;
    top: 130px;
    height: 33px;
    left: 50px;
    font-size: medium;
  }
  .hr_2 {
    position: absolute;
    left: 50px;
    top: 170px;
  }
  .uploads {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 370px;
  }
  .uploads > p {
    font-size: medium;
  }

  .uploads > p > a {
    text-decoration: none;
    color: inherit;
  }

  h4 {
    position: absolute;
    left: 50px;
    top: 650px;
  }
  .hr_3 {
    position: absolute;
    left: 50px;
    top: 680px;
  }
  .discord {
    position: absolute;
    top: 680px;
    left: 50px;
  }
  h3 {
    position: absolute;
    left: 430px;
    top: 628px;
  }
  .hr_4 {
    position: absolute;
    left: 430px;
    top: 680px;
  }
  .telegram {
    position: absolute;
    left: 430px;
    top: 678px;
    width: 300px;
    height: auto;
    object-fit: contain;
  }
  h2 {
    position: absolute;
    top: 810px;
    left: 50px;
  }
  .hr_5 {
    position: absolute;
    top: 890px;
    left: 50px;
  }
  .ads {
    position: absolute;
    top: 880px;
    left: 50px;
    rotate: 35deg;
    font-weight: bold;
  }
  .footer {
    gap: 20px;
    display: grid;
    justify-items: center;
    height: auto;
    margin-top: 30px;
  }
  .text1 {
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
}
