@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");
:root {
  --red-color: #e8000b;
  --blue-color: #3f6c93;
  --skyblue-color: #d6e2f9;
  --darkblue-color: #2b517e;
  --darkpink-color: #f50536;
  --darkpink1-color: #ea0035;
  --darkpink2-color: #ed012e;
  --rgb-color: #686fc9;
  --skyblue1-color: #346fe3;
  --yellow-color: #fede6f;
  --lightpink-color: #ea494f;
  --bluewhite-color: #efefef;
  --duration: 10s;
  --totalitems: 12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.navbar_parent {
  /* border: 1px solid #000; */
  display: flex;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  position: relative;
  text-transform: uppercase;
}

.navbar_child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar_child1 > a > img {
  padding: 10px 0;
  width: 110px;
  object-fit: contain;
}

.navbar_child1 > #navbar_courses {
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  height: 43px;
  border-radius: 7px;
  padding: 7px;
  text-transform: uppercase;
  border: 1px transparent;
  background-color: #d5e3f9;
}

.navbar_child2 > ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.navbar_child2 > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.navbar_child2 > ul > li:hover {
  color: var(--red-color);
}

.navbar_register {
  width: 100px;
  height: 43px;
  border-radius: 10px;
  padding: 7px;
  font-weight: 500;
  text-transform: uppercase;
  border: 5px transparent;
  background-color: #e9000a;
  color: white;
  font-size: 13px;
}

.navbar_register:hover {
  background-color: rgb(223, 2, 2);
}

.placement {
  margin: 50px 0;
}

.placement > h1 {
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.placement > p {
  font-size: 23px;
  color: rgb(90, 90, 90);
  text-align: center;
  margin: 15px 0;
}

.blue_text {
  font-size: 25px;
  color: #3a7ad9;
  font-weight: bold;
}

.pap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.pap_child1 > h1 {
  font-size: 33px;
  font-weight: bold;
}

.pap_child2 {
  border-left: 0.5px solid wheat;
  padding-left: 35px;
  margin-left: 50px;
}

.pap_child2 > p {
  font-size: 16px;
}

.working > h1 {
  padding: 5px 325px;
  font-size: 33px;
  font-weight: bold;
  text-transform: capitalize;
}

.working_flex1 {
  display: flex;
  gap: 100px;
  padding: 0 190px;
}

.working_child1 > p {
  font-size: 65px;
  font-weight: bold;
}

.working_child2 > p {
  padding: 10px 0;
  font-size: 19px;
  color: #3a363f;
  font-weight: bold;
}

.point_1,
.point_2,
.point_3 {
  padding-top: 25px;
  display: flex;
  gap: 30px;
}

.point_1 > .image {
  padding: 7px 0;
}

.text > h5 {
  font-size: 15px;
  font-weight: 500;
}

.text > p {
  padding: 10px 0;
  font-size: 13px;
  color: rgb(99, 98, 98);
}

.working_flex2,
.working_flex3 {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding: 30px 180px;
}

.working_child3 > h3,
.working_child4 > h3 {
  font-size: 21px;
  color: #2b2b2b;
  font-weight: bold;
}

.normal_text {
  text-align: left;
  padding: 15px 0;
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.gray_text {
  text-align: left;
  padding: 15px 0;
  width: 100%;
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.working_child3 > h5 {
  font-size: medium;
  font-weight: 500;
}

.working_button {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 10px 15px;
}

.working_button > button {
  height: 45px;
  width: 145px;
  font-size: large;
  font-weight: bold;
  background-color: #bf303e;
  color: white;
  border-radius: 30px;
  border: 0.3px transparent;
}

.working_button > h5 {
  font-size: 23px;
  font-weight: 600;
  color: #363535;
}

.responsive_table {
  padding-left: 310px;
  padding-right: 200px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  text-align: center;
  color: white;
  background-color: black;
  border: 0.8px solid white;
}

.category {
  font-size: 15px;
  font-weight: 500;
  width: 100px;
  height: 70px;
}

.ctc,
.months {
  font-size: 15px;
  font-weight: 500;
  width: 170px;
  height: 70px;
}

.pap2,
.fees {
  font-weight: 500;
  font-size: 15px;
}

td {
  text-align: center;
  border: 0.8px solid #cdcbcb;
  height: 50px;
}

thead tr:first-child,
thead th:first-child {
  border-top-left-radius: 25px;
}

thead tr:last-child,
thead th:last-child {
  border-top-right-radius: 25px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

h4 {
  font-size: 14.5px;
  padding: 20px 0;
  padding-left: 317px;
  color: #363535;
  font-weight: 500;
}

td:first-child {
  border-left: 1px solid black;
}

td:last-child {
  border-right: 1px solid black;
}

tbody tr:last-child td {
  border-bottom: 1px solid black;
}

.working_child4 > p {
  padding: 20px 0;
  font-size: 14px;
  color: #363535;
}

.working_button1 {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.working_button1 > button {
  height: 45px;
  width: 145px;
  font-size: large;
  font-weight: bold;
  background-color: #bf303e;
  color: white;
  border-radius: 30px;
  border: 0.3px transparent;
}

.working_button1 > h5 {
  font-size: 23px;
  font-weight: 600;
  color: #363535;
}

.parent {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.child1 {
  height: 70px;
  width: 290px;
  /* border: 1px solid green; */
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.child1 > p {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.child2 {
  background-color: #fc204c;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child2 > p {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

.parent1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 0;
}

.child3,
.child5 {
  background-color: black;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.child4 {
  background-color: #fc204c;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child4 > p,
.child3 > p,
.child5 > p {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

.after {
  color: #2b2b2b;
  font-size: 14px;
  text-align: center;
}

.questions > h1 {
  font-size: 35px;
  padding-top: 70px;
  text-align: center;
}

.question1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  margin-top: 30px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(182, 181, 181);
}

.question1 > p,
.question2 > p,
.question3 > p,
.question4 > p {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.question2,
.question3,
.question4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 150px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(182, 181, 181);
}

.patrents_main_10 {
  position: relative;
  background-color: #e7e4e4;
  margin-top: 70px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.footer_1 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 0px 50px;
}

.footer_head2 {
  border: 1px transparent;
  width: 200px;
  padding: 15px 13px;
  border-radius: 10px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  background-color: #ed012e;
  color: white;
  margin-top: 36px;
}

.footer_head1 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 45px;
}

hr {
  border: 0.5px solid rgb(165, 165, 165);
  margin: 30px 0px;
}

.footer_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 107px;
}

.masia-logo {
  width: 150px;
  height: 50px;
  object-fit: contain;
}

.footer_3 {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-right: 15px;
}

.logo_1 {
  font-size: medium;
  font-weight: bold;
  color: #4b4a4a;
}

.footer_img {
  display: flex;
  gap: 21px;
  align-items: center;
}

.Linkdin_img {
  width: 25px;
  height: 21px;
  object-fit: contain;
  filter: brightness(0.5);
}

.Twitter_img,
.Facebook_img,
.Instagram_img,
.Github_img,
.Youtube_img {
  width: 27px;
  height: 23px;
  object-fit: contain;
  filter: brightness(0.5);
}

.Twitter_img:hover,
.Facebook_img:hover,
.Linkdin_img:hover,
.Instagram_img:hover,
.Github_img:hover,
.Youtube_img:hover {
  filter: none;
}

.section_1 {
  display: flex;
  margin: 0 125px;
}

.footer_p {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  margin: 10px 0px;
}

.footer_text1 > ul > li,
.footer_text2 > ul > li {
  list-style-type: none;
  margin: 10px 0px;
  color: #313131;
}

.footer_gap {
  display: flex;
  gap: 100px;
}

.footer_5,
.footer_6,
.footer_7 {
  margin: 20px 0px;
  color: #313131;
}

.footer_5 ul li,
.footer_6 ul li,
.footer_7 ul li {
  list-style-type: none;
  padding: 11px 0;
}

.footer_8 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 460px;
  left: 60%;
}

.footer_8p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 7px;
  width: 250px;
  height: 53px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 7px 12px;
}

.footer_9 {
  color: #22c2f3;
  font-size: 17px;
  font-weight: bold;
}

.img_telegram_2 {
  width: 35px;
  height: 35px;
}

.footer_7p {
  color: rgb(72, 71, 71);
  font-weight: 600;
  font-size: 16px;
}

.footer-end {
  margin: 0px 121px;
  padding: 15px 0;
}

.footerend {
  display: flex;
  justify-content: space-between;
}

.footerend_1,
.footerend_2 {
  color: #7d7c7c;
  font-size: 15px;
}

.footerend_4 {
  font-size: 15px;
  text-align: left;
  margin: 13px 0;
  color: #7d7c7c;
}

.captcha1 {
  display: inline;
  /* position: relative;
  right: 0; */
}

.captcha {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transition: all 0.5s ease;
}

.captcha_image {
  background-color: white;
  height: 60px;
  width: 70px;
  padding: 3px;
  /* border: 1px solid red; */
}

.captcha_image > img {
  height: 40px;
  width: 70px;
  object-fit: contain;
}

.captcha_image > p {
  font-size: 7px;
  padding: 0 4px;
}

.hover_box {
  background-color: rgb(84, 84, 194);
  padding: 7px 10px;
  opacity: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s ease;
}

.big_text {
  color: white;
  font-size: medium;
}

.small_text {
  font-size: x-small;
  color: white;
}

.small_text:hover {
  text-decoration: underline;
}

.captcha:hover .hover_box {
  opacity: 1;
  width: 250px;
  padding: 7px 10px;
  /* border: 1px solid black; */
}

@media (max-width: 320px) {
  br {
    display: none;
  }
  .pap_child2 > p > b {
    font-weight: normal;
  }
  .navbar_parent {
    padding: 10px;
    justify-content: center;
  }
  .navbar_child2 {
    display: none;
  }
  .placement > h1 {
    font-size: 27px;
  }
  .placement > p {
    margin: 15px 7px;
    font-size: 13px;
  }
  .pap {
    display: grid;
    padding: 40px 15px;
  }
  .pap_child1 > h1 {
    font-size: larger;
    text-align: center;
  }
  .pap_child2 {
    margin: 0;
    padding: 15px 0;
    border: 0px;
  }
  .pap_child2 > p {
    font-size: 15px;
  }
  .working > h1 {
    padding: 15px;
    text-align: center;
  }
  .working_flex1 {
    padding: 15px 30px;
    gap: 15px;
    width: 320px;
  }
  .working_child1 > p {
    font-size: 30px;
  }
  .working_child2 > p {
    padding: 0;
    font-size: 15px;
    text-align: left;
  }
  .point_1,
  .point_2,
  .point_3 {
    padding-top: 15px;
    display: grid;
    justify-items: center;
    gap: 7px;
  }
  .text > h5 {
    text-align: center;
  }
  .text > p {
    padding: 5px 0;
    font-size: 11px;
  }
  .working_flex2,
  .working_flex3 {
    justify-content: start;
    padding: 15px 30px;
    gap: 15px;
    width: 320px;
  }
  .normal_text,
  .gray_text {
    padding: 10px 0;
    width: 250px;
    font-size: 13px;
  }
  .working_child3 > h5 {
    width: 240px;
  }
  .working_button {
    padding: 10px 0;
    width: 250px;
    gap: 10px;
  }
  .working_button > button {
    font-size: small;
    font-weight: 600;
    width: 105px;
    height: 47px;
  }
  .working_button > h5 {
    font-size: small;
  }
  .responsive_table {
    padding: 0 10px;
    width: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  }
  .category,
  .pap2,
  .fees,
  .ctc,
  .months {
    padding: 0 15px;
  }
  h4 {
    padding: 20px 10px;
    font-size: 15px;
  }
  .working_child4 > p {
    padding: 10px 0;
    text-align: left;
  }
  .working_button1 {
    width: 320px;
    padding: 0 15px;
    gap: 15px;
  }
  .working_button1 > button {
    width: 115px;
    font-size: medium;
    font-weight: 600;
  }
  .working_button1 > h5 {
    font-size: small;
  }
  .parent,
  .parent1 {
    margin: 20px 0;
    padding: 0 10px;
    width: 320px;
  }
  .child1,
  .child2,
  .child3,
  .child4,
  .child5 {
    height: 60px;
    width: 150px;
  }
  .child1 > p,
  .child2 > p,
  .child4 > p,
  .child3 > p {
    font-size: small;
  }
  .child5 > p {
    font-size: small;
    padding: 20px 10px;
  }
  .after {
    width: 320px;
    padding: 0 13px;
    font-size: 10px;
  }
  .questions > h1 {
    padding-top: 50px;
    font-size: x-large;
  }
  .question1,
  .question2 {
    margin: 20px 25px;
    border: 0px;
    justify-content: center;
    gap: 20px;
  }
  .question1 > p,
  .question2 > p,
  .question3 > p,
  .question4 > p {
    font-size: 13px;
  }
  .question3,
  .question4 {
    margin: 20px 25px;
    border: 0px;
  }
  .patrents_main_10 {
    margin-top: 40px;
  }
  .footer_1 {
    display: grid;
    padding: 0 20px;
    justify-items: center;
  }
  .footer_head1 {
    font-size: 21px;
    margin-top: 30px;
  }
  .footer_head2 {
    padding: 13px;
    margin: 0;
  }
  .footer_2 {
    margin: 0;
    justify-content: start;
    gap: 10px;
    width: 320px;
    padding: 0 15px;
  }
  .footer_text2,
  .logo_1 {
    display: none;
  }
  .masia-logo {
    width: 110px;
  }
  .footer_img {
    gap: 15px;
  }
  .Twitter_img,
  .Facebook_img,
  .Linkdin_img,
  .Instagram_img,
  .Github_img,
  .Youtube_img {
    width: 13px;
    height: 13px;
  }
  .section_1 {
    margin: 0 15px;
    display: grid;
  }
  .footer_gap {
    display: grid;
    gap: 10px;
    padding-bottom: 100px;
  }
  .footer_5,
  .footer_6,
  .footer_7 {
    margin: 0;
  }
  .footer_5 ul li,
  .footer_6 ul li,
  .footer_7 ul li {
    padding: 5px 0;
  }
  .footer_8 {
    top: 700px;
    bottom: 0;
    width: 300px;
    left: 15px;
    gap: 0;
    justify-content: start;
  }
  .footer_7p {
    font-size: 15px;
  }
  .footer_8p {
    width: 110px;
  }
  .img_telegram_2 {
    width: 30px;
    height: 30px;
  }
  .footer_9 {
    font-size: small;
  }
  .footer-end {
    margin: 0 15px;
    padding: 0;
  }
  .footerend {
    justify-content: center;
  }
  .footerend_1,
  .footerend_2 {
    font-size: 11px;
  }
  .footerend_4 {
    font-size: 13px;
    font-weight: 600;
    opacity: 0.8;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .navbar_parent {
    width: 100%;
    padding: 0;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .navbar_child1 {
    gap: 150px;
    justify-content: space-between;
  }
  .navbar_child1 > a > img {
    margin-top: 7px;
    width: 120px;
    object-fit: contain;
  }
  .navbar_child2 {
    display: none;
  }
  .placement {
    margin: 55px 0;
  }
  .placement > h1 {
    font-size: 24px;
  }
  .placement > p {
    font-size: 13px;
    margin: 25px 0;
    font-weight: normal;
  }
  .blue_text {
    font-size: 23px;
    display: block;
  }
  .pap {
    display: grid;
  }
  br {
    display: none;
  }
  .placement > p > br {
    display: inline-block;
  }
  .pap_child1 > h1 {
    font-size: 20px;
    text-align: center;
  }
  .pap_child2 {
    margin: 0;
    padding: 20px 0;
    border: none;
  }
  .pap_child2 > p {
    font-size: 15px;
    padding: 0 20px;
    font-weight: 400;
  }
  .working > h1 {
    padding: 0;
    font-size: 20px;
    text-align: center;
  }
  .working_flex1 {
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    margin: 0 20px;
  }
  .working_child1 > p {
    padding: 10px 0;
    font-size: 25px;
  }
  .working_child2 > p {
    font-size: 16px;
    text-align: left;
    color: black;
    opacity: 0.8;
  }
  .point_1,
  .point_2,
  .point_3 {
    display: grid;
    justify-items: center;
    gap: 20px;
  }
  .text > h5 {
    text-align: center;
  }
  .text > p {
    text-align: center;
    font-size: 15px;
  }
  .working_flex2,
  .working_flex3 {
    gap: 15px;
    justify-content: center;
    padding: 30px 0;
  }
  .working_flex2 > .working_child1 > p,
  .working_flex3 > .working_child1 > p {
    padding: 0;
    font-size: 23px;
    padding-left: 35px;
  }
  .working_child3 > h3 {
    font-size: 19px;
  }
  .normal_text {
    padding: 20px 15px;
    text-align: left;
  }
  .gray_text {
    padding: 0 15px;
    text-align: left;
  }
  .working_child3 > h5 {
    padding-top: 30px;
    text-align: left;
  }
  .working_button {
    gap: 19px;
  }
  .working_button > button {
    height: 30px;
    width: 105px;
    font-size: smaller;
  }
  .working_button > h5 {
    font-size: 15px;
    font-weight: 500;
  }
  table {
    white-space: nowrap;
  }
  h4 {
    font-size: 15px;
    text-align: left;
    padding: 15px;
  }
  .working_flex3 {
    padding: 0;
  }
  .working_child4 > h3 {
    font-size: 19px;
  }
  .working_child4 > p {
    padding: 15px;
    text-align: left;
  }
  .working_button1 {
    padding-top: 30px;
    gap: 19px;
  }
  .working_button1 > button {
    height: 30px;
    width: 105px;
    font-size: smaller;
  }
  .working_button1 > h5 {
    font-size: 15px;
    font-weight: 500;
  }
  .parent {
    margin-top: 30px;
  }
  .child1,
  .child2,
  .child3,
  .child4,
  .child5 {
    width: 200px;
    height: 50px;
  }
  .child1 > p {
    font-size: small;
    padding: 5px 0;
  }
  .child2 > p,
  .child3 > p,
  .child4 > p,
  .child5 > p {
    font-size: large;
    padding: 11px;
  }
  .parent1 {
    margin: 21px 0;
  }
  .after {
    padding: 0 15px;
    font-size: 9px;
    font-weight: 500;
  }
  .questions > h1 {
    font-size: 25px;
  }
  .question1,
  .question2,
  .question3,
  .question4 {
    margin: 0 11px;
    padding: 10px;
    border-bottom: 1px solid rgb(226, 225, 225);
  }
  .question1 > p,
  .question2 > p,
  .question3 > p,
  .question4 > p {
    font-size: 13px;
    text-align: left;
  }
  .patrents_main_10 {
    margin-top: 50px;
  }
  .footer_1 {
    display: grid;
    gap: 0;
    justify-items: center;
  }
  .footer_head1 {
    margin-top: 30px;
    font-size: 19px;
    padding: 0;
    font-weight: 600;
  }
  .footer_head2 {
    margin: 15px;
    padding: 13px;
  }
  hr {
    margin: 15px 0;
  }
  .footer_2 {
    justify-content: center;
    margin: 0 40px;
    gap: 20px;
  }
  .masia-logo {
    width: 120px;
    height: 40px;
  }
  .logo_1 {
    display: none;
  }
  .section_1 {
    display: grid;
    margin: 0 15px;
  }
  .footer_text2 {
    display: none;
  }
  .footer_text1 {
    padding-top: 10px;
  }
  .footer_p {
    padding: 0;
  }
  .footer_gap {
    display: grid;
    gap: 0;
  }
  .footer_5 {
    margin: 7px 0;
  }
  .footer_6,
  .footer_7 {
    margin: 0;
  }
  .footer_5 ul li,
  .footer_6 ul li,
  .footer_7 ul li {
    padding: 5px 0;
  }
  .footer_8 {
    padding: 0 15px;
    padding-top: 70px;
    left: 0;
    /* bottom: 0; */
    top: 74%;
  }
  .footer_7p {
    padding: 0;
    font-size: 14px;
    text-align: left;
  }
  .footer_8p {
    width: 150px;
    height: 47px;
    padding: 0;
    gap: 0;
  }
  .img_telegram_2 {
    margin: 0 7px;
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
  .footer_9 {
    padding: 0;
    font-size: 11px;
    text-align: left;
  }
  .footer-end {
    margin: 0;
    margin-top: 60px;
  }
  .footerend {
    gap: 7px;
    padding: 0 15px;
  }
  .footerend_1,
  .footerend_2 {
    text-align: left;
    font-size: 9px;
    padding: 0;
  }
  .footerend_4 {
    font-size: 14px;
  }
  .captcha {
    padding: 0;
  }
  .responsive_table {
    overflow-x: scroll;
    padding: 0 20px;
    scrollbar-width: none;
  }
  .category,
  .pap2,
  .fees,
  .ctc,
  .months {
    padding: 0 15px;
  }
}

@media (min-width: 481px) and (max-width: 770px) {
  .navbar_parent {
    justify-content: space-between;
    padding: 7px 10px;
    gap: 35px;
  }
  .navbar_child2 > ul {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    font-size: 15px;
  }
  .placement {
    margin: 40px 0;
  }
  .placement > p {
    font-size: 22px;
    margin: 15px 30px;
    padding: 0;
  }
  .pap {
    display: grid;
    padding: 40px 0;
  }
  br {
    display: none;
  }
  .pap_child1 > h1 {
    font-size: 35px;
    text-align: center;
  }
  .pap_child2 {
    margin: 15px 0;
    padding: 0;
    border: 0px;
  }
  .pap_child2 > p {
    padding: 0;
    font-size: 15px;
  }
  .working > h1 {
    padding: 10px 130px;
    font-size: 34px;
  }
  .working_flex1 {
    padding: 0 25px;
    padding-left: 100px;
    gap: 90px;
  }
  .working_child1 > p {
    padding: 0;
    font-size: 60px;
  }
  .working_child2 > p {
    padding: 0;
    text-align: left;
    font-size: 20px;
  }
  .text > p {
    padding: 0;
    text-align: left;
    font-size: 13.5px;
  }
  .working_flex2,
  .working_flex3 {
    padding: 25px 15px;
    padding-left: 100px;
  }
  .working_child3 > h3 {
    font-size: 20px;
  }
  .normal_text {
    font-size: 13px;
  }
  .gray_text {
    font-size: 13px;
  }
  .working_child3 > h5 {
    padding-top: 20px;
  }
  .working_button {
    gap: 20px;
  }
  .working_button > button,
  .working_button1 > button {
    height: 43px;
    width: 141px;
    font-size: larger;
  }
  .working_button > h5,
  .working_button1 > h5 {
    font-size: 21px;
  }
  .responsive_table {
    padding: 0;
    padding-left: 200px;
    padding-right: 15px;
  }
  .category,
  .pap2,
  .fees,
  .ctc,
  .months {
    padding: 7px 15px;
  }
  td {
    height: 100px;
  }
  tr > td > b {
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    padding: 25px 0;
    padding-left: 200px;
    padding-right: 15px;
  }
  .working_child4 > h3 {
    font-size: 23px;
  }
  .working_child4 > p {
    text-align: left;
    font-size: 13px;
  }
  .working_button1 {
    gap: 20px;
    justify-content: right;
    padding: 0 100px;
  }
  .parent {
    margin-top: 60px;
    padding-left: 200px;
  }
  .child1,
  .child2,
  .child3,
  .child4,
  .child5 {
    width: 250px;
    height: 70px;
  }
  .child2,
  .child3,
  .child4,
  .child5 {
    padding: 10px;
  }
  .child1 > p {
    font-size: large;
    padding: 5px 0;
  }
  .child2 > p,
  .child3 > p,
  .child4 > p,
  .child5 > p {
    font-size: larger;
    padding: 11px;
  }
  .parent1 {
    margin: 21px 0;
    padding-left: 200px;
  }
  .after {
    font-size: 13px;
    padding-left: 225px;
    padding-right: 21px;
  }
  .questions > h1 {
    font-size: 31px;
  }
  .question1,
  .question2,
  .question3,
  .question4 {
    margin: 0 70px;
    margin-top: 27px;
  }
  .question1 > p,
  .question2 > p,
  .question3 > p,
  .question4 > p {
    padding: 0;
    font-size: 14px;
  }
  .footer_head1 {
    margin: 31px 0;
    padding: 0;
    font-size: 23px;
  }
  hr {
    margin: 0;
  }
  .footer_2 {
    margin: 17px 20px;
  }
  .logo_1 {
    padding: 0;
  }
  .section_1 {
    margin: 0 17px;
    gap: 50px;
  }
  .footer_text2 {
    display: none;
  }
  .footer_p {
    padding: 0;
  }
  .footer_gap {
    gap: 57px;
  }
  .footer_5 ul li,
  .footer_6 ul li,
  .footer_7 ul li {
    padding: 5px 0;
  }
  .footer_5,
  .footer_6,
  .footer_7 {
    margin: 0;
  }
  .footer_8 {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 350px;
    right: 20px;
    padding-top: 200px;
    gap: 35px;
  }
  .footer-end {
    margin: 0;
    padding-top: 65px;
  }
  .footerend_1,
  .footerend_2 {
    padding: 0 10px;
  }
  .footerend_1 {
    font-weight: 500;
  }
  .footerend_4 {
    font-size: 15px;
    padding: 0 10px;
  }
  .captcha {
    padding: 0;
  }
  .footer_9 {
    padding: 0;
    font-weight: 500;
  }
  .footer_8p {
    padding: 0 20px;
  }
  .footer_7p {
    font-size: 15px;
    padding: 0px;
    text-align: left;
  }
}

@media (min-width: 771px) and (max-width: 1024px) {
  .footer_8 {
    top: 557px;
    left: 63%;
  }
}
