@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");
:root {
  --red-color: #e8000b;
  --blue-color: #3f6c93;
  --skyblue-color: #d6e2f9;
  --darkblue-color: #2b517e;
  --darkpink-color: #f50536;
  --darkpink1-color: #ea0035;
  --darkpink2-color: #ed012e;
  --rgb-color: #686fc9;
  --skyblue1-color: #346fe3;
  --yellow-color: #fede6f;
  --lightpink-color: #ea494f;
  --bluewhite-color: #efefef;
  --duration: 10s;
  --totalitems: 12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.navbar_parent {
  /* border: 1px solid #000; */
  display: flex;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  position: relative;
  text-transform: uppercase;
}

.navbar_child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar_child1 > img {
  padding: 10px 0;
  width: 110px;
  object-fit: contain;
}

.navbar_child1 > #navbar_courses {
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  height: 43px;
  border-radius: 7px;
  padding: 7px;
  text-transform: uppercase;
  border: 1px transparent;
  background-color: #d5e3f9;
}

.navbar_child2 > ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.navbar_child2 > ul > li:hover {
  color: var(--red-color);
}

.navbar_register {
  width: 100px;
  height: 43px;
  border-radius: 10px;
  padding: 7px;
  font-weight: 500;
  text-transform: uppercase;
  border: 5px transparent;
  background-color: #e9000a;
  color: white;
  font-size: 13px;
}

.navbar_register:hover {
  background-color: rgb(223, 2, 2);
}

.placement {
  margin: 50px 0;
}

.placement > h1 {
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.placement > p {
  font-size: 23px;
  color: rgb(90, 90, 90);
  text-align: center;
  margin: 15px 0;
}

.blue_text {
  font-size: 25px;
  color: #3a7ad9;
  font-weight: bold;
}

.pap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.pap_child1 > h1 {
  font-size: 33px;
  font-weight: bold;
}

.pap_child2 {
  border-left: 0.5px solid wheat;
  padding-left: 35px;
  margin-left: 50px;
}

.pap_child2 > p {
  font-size: 16px;
}

.working > h1 {
  padding: 5px 325px;
  font-size: 33px;
  font-weight: bold;
  text-transform: capitalize;
}

.working_flex1 {
  display: flex;
  gap: 100px;
  padding: 0 190px;
}

.working_child1 > p {
  font-size: 65px;
  font-weight: bold;
}

.working_child2 > p {
  padding: 10px 0;
  font-size: 19px;
  color: #3a363f;
  font-weight: bold;
}

.point_1,
.point_2,
.point_3 {
  padding-top: 25px;
  display: flex;
  gap: 30px;
}

.point_1 > .image {
  padding: 7px 0;
}

.text > h5 {
  font-size: 15px;
  font-weight: 500;
}

.text > p {
  padding: 10px 0;
  font-size: 13px;
  color: rgb(99, 98, 98);
}

.working_flex2,
.working_flex3 {
  display: flex;
  gap: 90px;
  padding: 30px 180px;
}

.working_child3 > h3,
.working_child4 > h3 {
  font-size: 21px;
  color: #2b2b2b;
  font-weight: bold;
}

.normal_text {
  padding: 15px 0;
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.gray_text {
  padding: 15px 0;
  width: 100%;
  font-size: 15px;
  color: rgb(99, 98, 98);
}

.working_child3 > h5 {
  font-size: medium;
  font-weight: 500;
}

.working_button {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 10px 15px;
}

.working_button > button {
  height: 45px;
  width: 145px;
  font-size: large;
  font-weight: bold;
  background-color: #bf303e;
  color: white;
  border-radius: 30px;
  border: 0.3px transparent;
}

.working_button > h5 {
  font-size: 23px;
  font-weight: 600;
  color: #363535;
}

table {
  margin: 20px 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  text-align: center;
  color: white;
  background-color: black;
  border: 0.8px solid white;
}

.category {
  font-size: 15px;
  font-weight: 500;
  width: 100px;
  height: 70px;
}

.ctc,
.months {
  font-size: 15px;
  font-weight: 500;
  width: 170px;
  height: 70px;
}

.pap2,
.fees {
  font-weight: 500;
  font-size: 15px;
}

td {
  text-align: center;
  border: 0.8px solid #cdcbcb;
  height: 50px;
}

thead tr:first-child,
thead th:first-child {
  border-top-left-radius: 25px;
}

thead tr:last-child,
thead th:last-child {
  border-top-right-radius: 25px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

.working_child3 > h4 {
  font-size: 15px;
  padding: 10px 0;
  color: #363535;
  font-weight: 500;
}

td:first-child {
  border-left: 1px solid black;
}

td:last-child {
  border-right: 1px solid black;
}

tbody tr:last-child td {
  border-bottom: 1px solid black;
}

.working_child4 > p {
  padding: 20px 0;
  font-size: 14px;
  color: #363535;
}

.working_button1 {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.working_button1 > button {
  height: 45px;
  width: 145px;
  font-size: large;
  font-weight: bold;
  background-color: #bf303e;
  color: white;
  border-radius: 30px;
  border: 0.3px transparent;
}

.working_button1 > h5 {
  font-size: 23px;
  font-weight: 600;
  color: #363535;
}

.parent {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.child1 {
  height: 70px;
  width: 290px;
  /* border: 1px solid green; */
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.child1 > p {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.child2 {
  background-color: #fc204c;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child2 > p {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

.parent1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 0;
}

.child3 {
  background-color: black;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.child4 {
  background-color: #fc204c;
  height: 70px;
  width: 290px;
  /* border: 1px solid blue; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.child4 > p,
.child3 > p {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

p {
  color: #2b2b2b;
  font-size: 14px;
  text-align: center;
}

.questions > h1 {
  font-size: 35px;
  padding-top: 70px;
  text-align: center;
}

.question1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  margin-top: 30px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(182, 181, 181);
}

.question1 > p,
.question2 > p {
  color: black;
  font-size: medium;
  font-weight: 500;
}

.question2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 150px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(182, 181, 181);
}

.patrents_main_10 {
  position: relative;
  background-color: #e7e4e4;
  margin: 100px 0px;
  border-radius: 50px;
}

.footer_1 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 0px 50px;
}

.footer_head2 {
  border: 1px transparent;
  width: 200px;
  padding: 15px 13px;
  border-radius: 10px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  background-color: #ed012e;
  color: white;
  text-align: center;
  margin-top: 36px;
}

.footer_head1 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 45px;
}

hr {
  border: 0.5px solid rgb(165, 165, 165);
  margin: 30px 0px;
}

.footer_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 107px;
}

.masia-logo {
  width: 150px;
  height: 50px;
  object-fit: contain;
}

.footer_3 {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.logo_1 {
  font-size: medium;
  font-weight: bold;
  color: #4b4a4a;
}

.Linkdin_img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.Twitter_img,
.Facebook_img,
.Instagram_img,
.Github_img,
.Youtube_img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.section_1 {
  display: flex;
  margin: 0 125px;
  gap: 100px;
}

.footer_p {
  font-size: medium;
  text-align: left;
  font-weight: bold;
  margin: 10px 0px;
}

.footer_text1 > ul > li,
.footer_text2 > ul > li {
  list-style-type: none;
  margin: 10px 0px;
  color: #313131;
}

.footer_5,
.footer_6,
.footer_7 {
  margin: 20px 0px;
  color: #313131;
}

.footer_5 ul li,
.footer_6 ul li,
.footer_7 ul li {
  list-style-type: none;
  padding: 11px 0;
}

.footer_8 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 460px;
  left: 60%;
}

.footer_8p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  border-radius: 7px;
  width: 223px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #22c2f3;
  padding: 7px 12px;
  font-size: 14px;
}

.img_telegram_2 {
  width: 30px;
  height: 30px;
}

.footer_7p {
  font-weight: bolder;
  font-size: 15px;
}

.footerend {
  display: flex;
  text-align: center;
  gap: 450px;
  margin: 0px 37px;
  color: #2b2a2a;
}

.footerend_4 {
  margin: 27px 37px;
  color: #2b2a2a;
}
